.createTest{
    max-width:1280px;
    width: 100%;
    margin: auto;
    .question-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    border: 1px solid darkgray;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    .question-header{
        width: 100%;
        max-width: 80%;
        margin: auto;
        text-align: left;
        .question{
            width: 100%;
            display: flex;
            flex-direction: column;
            input{
                max-width: 100%;
                height: 25px;
            }
            &-cost{
                max-width: 40%;
                width: 100%;
                input{
                    max-width: 35px;
                    margin: auto;
                    height: 25px;
                }
            }
        }
    }
    .answer-list{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 80%;
        margin: auto;
        text-align: left;
        .answer{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            label{
                width: 100%;
            }
            input {
                max-width: 90%;
                width: 100%;
            }
            .form-checkbox{   
                position: relative;
                width: 15px;
                border: 1px solid red;
                background: black;
                height: 15px;
                max-height: fit-content;
                margin: 0px 10px 0 5px;
                &:checked{
                    width: 0;
                    height: 0;
                    margin-right: 15px;
                &::before{
                    content: '';
                    background: url('../../../../img/iconfinder_tick_green_619543.png') no-repeat center;
                    background-size: cover;
                    height: 20px;
                    width: 17px;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                }
            }
            }
            .del-btn, .add-btn{
                max-width: fit-content;
                margin: 0;
                border: none;
                background: none;
                outline: unset;
                cursor: unset;
                i{
                    cursor: pointer;
                    outline: unset;

                }
            }
        }
    }
}
}