.header{
  flex: 0 1;
  background-color: #303030;
}

.header-container {
  width: 100%;
  max-width: 1440px;
  flex: 0 1;
  background-color: #303030;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 4px;
  margin: auto;
  .log-out.btn {
    width: 100%;
    max-width: 150px;
    min-width: 100px;
    color: #ff6f00;
    border: 1px solid white;
    border-radius: 0;
    padding: 2px 4px;
    font-size: 16px;
    margin: 0 5px;
    padding: 10px;
  }

  .log-out.btn:hover {
    color: white;
    font-weight: bold;
    background-color: inherit;
  }

  .nav-link , .dropdown{
    position: relative;
    transition: background-color  250ms ease-in-out 0ms,
      box-shadow 250ms ease-in-out 0ms,
      border 250ms ease-in-out 0ms;
    background-color: #303030;
    min-width: 80px;
    width: 100%;
    max-width: 150px;
    padding: 10px;
    border: 1px solid white;
    margin: 0 5px;
    background-color: inherit;
    color: #ff6f00;
    &:hover {
      color: white;
      font-weight: 900;
      border: 1px solid #ff6f00;
    }
    &-container {
      display: flex;
      justify-content: flex-end;
      align-items: baseline;
      padding: 4px;
    }
    button {
      outline: none;
    }
    .wrapperChildren{
      right: 0;
      width: 100%;
      background-color: #303030;
      min-width: calc(100% + 30px);
      font-size: 12px;
      div{
        width: 100%;
          padding: 5px;
          a{
            padding: 10px 0;
          }
        .nav-link{
          margin: 5px 0;
          &:last-child{
            margin: 0;
          }
        }
      }
    }
  }
}

.list-create-buttons {
  background-color: #fff;
  display: flex;
  flex-direction: column;

  a {
    display: block;
    margin-bottom: 3px;

    button {
      width: 100%;
    }
  }
}
